$text-color-white: #FFFFFF;
$text-color-black: #000000;

$white: #FFFFFF;
$black: #000000;

$darkGreen: #4CAF50;
$lightGreen: #80BB00;

$brown: #4E3000;
$red: #EC5937;

$silver: #737373;

$btn-border-radius: 8px;

$btn-font-size: 24px !default;

$font-open-regular: OpenSansRegular, sans-serif; 
