@use "../../../app/styles/variables.scss" as *;

.logo {
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 89px;
  
  &_text {
    display: flex;
    align-items: center;
    color: $brown;
    font-size: 50px;
    line-height: 0.9;
  }

  &_flag {
    width: 23.72px;
    height: 23.72px;
    margin-top: 1px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      left: 12px;
      width: 5px;
      height: 12px;
      background-color: $brown;
      transform: rotate(230deg);
    }
  }
}
